<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jdkproject.mapper.TestMapper">
    <select id="getInfo" resultType="com.example.jdkproject.dto.TestDto">
        select * from tb_info where id = #{id}
    </select>

    <insert id="insertInfo">
        insert into tb_info(id, name) values(#{id}, #{name})
    </insert>
</mapper>